node_modules
public/build
dist
coverage

# yarn related things
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# build artifacts
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
